token=<your-bot-token>
clientId=<your-bot-client-id>
guildId="<your-testing-server-id>"
DM_CHANNEL_ID="<your-bot-dm-channel-id>"
LOG_CHANNEL_ID="<your-bot-commands-logging-channel-id>"
BOT_USER_ID="<your-bot-user-id>"
SHEETS_API_LINK="https://sheetdb.io/api/v1/<ID>"
DATABASE_USERNAME="<your-mongodb-username>"
DATABASE_PASSWORD="<your-mongodb-password>"
DEFAULT_CHALLENGE_LOG_ID="<default-channel-for-sending-channel-logs>"